
.list {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;

    padding: 0;
    margin: 0;
    list-style:none
}
    
.shop {
   border: 1px dotted black;
    padding: 1em;
    margin: 1em;
    text-align: left; 
    flex-basis: 10%;
} 